
body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #fdfdfd;
}

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}

.masthead {
    background: #3398E1;
    height: auto;
    padding-bottom: 5px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 2px;
}



/***Login Page***/


    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #6e898f !important;
            background-image: url('/static/images/login.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        .user_card {
            width: 350px;
            margin-top: 4rem;
            margin-bottom: auto;
            background: #74cfbf;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 15px;

        }

        .form_container {
            margin-top: 20px;
        }

        #form-title{
            color: #fff;
            
        }

        .login_btn {
            width: 100%;
            background: #33ccff !important;
            color: white !important;
        }
        .login_btn:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }
        .login_container {
            padding: 0 2rem;
        }
        .input-group-text {
            background: #f7ba5b !important;
            color: white !important;
            border: 0 !important;
            border-radius: 0.25rem 0 0 0.25rem !important;
        }
        .input_user,
        .input_pass:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

        #messages{
            background-color: grey;
            color: green;
            padding: 10px;
            margin-top: 10px;
        }
    </style>




/** customized **/

.content-section  {
    background: #ffffff;
    padding: auto;
    border: 2px solid #dddddd;
    border-radius: 15px;
    margin: 2rem auto;
    width: 70%;
    width: 70%;
    
    
}