{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>iMeme</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">iMeme</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        {% if request.user.is_authenticated %}
                            <div class="dropdown">
                                <button type="button" class="btn btn-secondary dropdown-toggle"  data-toggle="dropdown">
                                    Account
                                </button>
                                <div class="dropdown-menu">
                                    <span class="dropdown-item-text font-weight-bold"><i class="fa fa-user"></i>Hi, {{request.user}}</span>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item font-weight-bold" href="{% url 'logout_user' %}">Log Out</a>

                                </div>
                            </div>

                            <!--li class="nav-item text-black mt-2 mr-2">
                                Hi, {{request.user}}
                            </li>
                            <li class="nav-item text-black">
                                <a class="nav-link text-black font-weight-bold" href="{% url 'logout_user' %}">Logout</a>
                            </li-->

                        {% else %}
                            <li class="nav-item text-black">
                                <a class="nav-link text-black font-weight-bold" href="{% url 'login_user' %}">Login</a>
                            </li>
                            <li class="nav-item text-black">
                                <a class="nav-link text-black font-weight-bold" href="{% url 'register_user' %}">Register</a>
                            </li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </nav>

        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ messages.tags }}">
                        <p><center>{{ message }}</center></p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; iMeme, Inc</p>
        </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>