{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% endblock %}
    
    <div class="container mt-5" style="border:2px solid #cecece; border-radius: 10px;">
        <div class="row">
            <div class="col">
                <div class="text-center">
                  <div class="panel panel-default"> 
                      <h1><i class="fa fa-envelope fa-2x"></i></h1>
                      <h2 class="text-center">Your email needs to be confirmed</h2>
                      <p>We have sent a confirmation link to your email address: <strong>{{user.email}}</strong> <br> <hr> Please check to confirm.</p>

                      <div class="d-flex justify-content-center links"> <hr>
                        Account Already Confirmed? <a href="{% url 'login_user' %}" class="ml-2"><strong>Login Now</strong></a>
					            </div>
                    </div>
                </div>  
              </div>      
        </div>
    </div>
{% endblock %}