{% extends "base.html" %} 
{% load static %}
{% block content %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			
			<div class="user_card">
				<div class="text-center">
					<h3><i class="fas fa-sign-in-alt fa-2x"></i></h3>
				</div>
				<div class="d-flex justify-content-center">
					<h2 id="form-title">Login</h2>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							{{form.username}}
							<input type="text" name="username" placeholder="Username..." class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							{{form.password}}
							<input type="password" name="password" placeholder="Password..." class="form-control">
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Log In">
				   			</div>
					</form>

				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						<small class="text-muted">		
							Don't have an account? <a style="color:white;" href="{% url 'register_user' %}" class="ml-2"><strong> Register Now</strong></a>	
						</small>
					</div>

					<div class="d-flex justify-content-center links">
						<small class="text-muted">
							Forgot Password? <a style="color:white;" href="{% url 'reset_password' %}" class="ml-2">Reset Now</a>
						</small>
					</div>
			
				</div>
			</div>
		</div>
	</div>

{% endblock %}