{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

  <div class="container mt-5" style="border:2px solid #cecece; border-radius: 10px;">
      <div class="row">
          <div class="col">
            <div class="text-center">
              <h3><i class="fa fa-lock fa-3x"></i></h3>
              <h2 class="text-center" >Forgot Password?</h2>
              <p>Dont worry, We got you!You can reset your password here.</p>
              <div class="panel-body">

                <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                    {% csrf_token %}
                    
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-envelope-open-o fa-2x"></i></span>
                      <input id="email" name="email" placeholder="Email address" class="form-control"  type="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <input name="recover-submit" class="btn btn-lg btn-info btn-block" value="Reset Password" type="submit">
                  </div>
                  
                  <input type="hidden" class="hide" name="token" id="token" value=""> 
                </form>

              </div>
            </div>
           </div>
          </div>
      </div>
  </div>
  
{% endblock content %}