{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    
    <div class="container mt-5" style="border:2px solid #cecece; border-radius: 10px;">
        <div class="row">
            <div class="col">
              <div class="text-center">
                <h1><i class="fa fa-check-circle fa-2x"></i></h1>
                <h2 class="text-center">Password Reset Sent</h2>
                <p>We’ve emailed you instructions for setting your password, please check your email for a link to reset your password .</p>

                <hr style="color: green;">

		            <p>If you don't receive an email, please make sure you've entered the address you registered with,and check your spam folder.</p>

              </div>
            </div>
        </div>
    </div>
{% endblock content %}