{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    
  <div class="container mt-5" style="border:2px solid #cecece; border-radius: 10px;">
      <div class="row">
          <div class="col">
            <div class="text-center">
              <h3><i class="fa fa-key fa-2x"></i></h3>
              <h2 class="text-center">Enter new password</h2>
              <p> Please enter your new password twice so we can verify you typed it in correctly.</p>
              <div class="panel-body">

                <form  id="register-form" role="form" autocomplete="off" class="form" method="POST">
                  {% csrf_token %}

                    <hr>
                    {% for field in form %}
                    <div class="form-group mr-5">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-eye-slash fa-2x"></i></span>
                        {{field}}
                      </div>
                    </div>
                    {% endfor %}
                  
                  <div class="form-group">
                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="Submit">
                  </div>

                </form>
              </div>
            </div>
          </div>
    </div>
  </div>
{% endblock content %}