{% extends 'base.html' %}
{% load static %}
{% block content %}

	<div class="container mt-5" style="border:2px solid #cecece; border-radius: 10px;">
        <div class="row">
            <div class="col">
              <div class="text-center">
                <h1><i class="fa fa-check-circle fa-2x"></i></h1>
                <div class="alert alert-info p-3">
					Your password has been set. You can now login 
				</div>
                <hr style="color: green;">
			  <div>
				<a class="btn btn-primary btn-lg mb-2" href="{% url 'login_user' %}">Log In</a>
			  </div>
            </div>
            </div>
        </div>
    </div>

{% endblock content %}