{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

    <div class="container mt-5" style="border:1px solid #cecece; border-radius: 25px;">
        <div class="row">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-2">Blog Post</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info btn-lg " type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}